*{margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    box-sizing: border-box;
    /* text-align: center; */
    font-family: 'Noto sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

a{text-decoration: none;
color: black;}

.flex { display: flex;
    align-items: center;}

.grid {display: grid;}

.underline{border: 2px solid #08394A;
    width: min-content 10%; max-width: 25%;
    background-color: #08394A;
    padding: .05%;}

button {
    background-color: #08394A;
    border-radius: 50px;
    color: white;
    width:15%;
    height: 4vh;
}

/* .footer_suB_text{font-size: 20px;}

.footer_main_text{font-size: 40px;} */

h2{font-size: 50px;}

p {font-size: 15px;}

/* Navbar */
.nav{height: 7vh;
    padding: 0 10vw;
    justify-content: space-between;
 
    }
    
    
.Links{height: 100%;
width: 50%;}

.Nav_links{
    justify-content:space-between;
    height: 100%;}

.Second_Nav_Links{width: 60%;}

.logo{width: 125px;
height: 52px;
border-radius: 6px;}

.consult{width: auto; /* Set the width of the button */
height: 45px; /* Set the height of the button */
/* Set the font size of the button text */
padding: 5px 20px; /* Set the padding of the button */
border-radius: 50px; /* Set the border radius of the button */
background-color: #08394A; /* Set the background color of the button */
color: white; /* Set the text color of the button */
border: none; /* Remove the border of the button */
cursor: pointer; /* Change the cursor to a pointer when hovering over the button */}

.sub_menu_wrp, .Corporate_sub_menu_wrp, .Residential_sub_menu_wrp 
,.Design_sub_menu_wrp{
    display:  none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 100px;
    max-height: 150px;
    width: 10%;
    padding: 15px 10px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px;
}



.sub_menu_wrp.active, .Corporate_sub_menu_wrp.active, .Residential_sub_menu_wrp.active , .Design_sub_menu_wrp {
    display: block;
    z-index: 100;
}

.sub_menu hr, .Corporate_sub_menu hr, .Residential_sub_menu hr , .Design_sub_menu hr{
    border: 1px solid rgb(211, 211, 211);
    height: 1px;
    width: 100%;
    margin: 7% 0;
}

.Sub_menu_link:hover, .Corporate_Sub_menu_link:hover, .Residential_Sub_menu_link:hover , .Design_menu_link:hover{
    font-weight: bold;
}

.subsub {
    display:none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 100px;
    max-height: 150px;
    width: 100%;
    padding: 15px 10px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px;
    left: 60%;
    top: 1%;
    z-index: 100;
}

.subsub.active {
    display: block;}

.subsub hr{
    border: 1px solid rgb(231, 231, 231);
    height: 1px;
    width: 100%;
    margin: 7% 0;
}

.subsub_menu:hover{display:block;
font-weight: bold ;}

.Design_sub_menu_wrp {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Design_Sub_menu_link:hover {
    font-weight: bolder;
 }
 
/* CSS only drop down menu */

.Design_sub_menu_wrp.active {
    display: block;border-radius: 5px;
    z-index: 1;
}

.Design_sub_menu {
    margin-top: 5px;
}

button:hover{border: 2px solid #08394A;
background-color: white;
color: #08394A;}


/* Hero_Section */ 

.COntact_Section_banner{background-image:linear-gradient(to top, rgba(0, 0, 0, 0.705), rgba(0,0,0,0)), url('bg.jpg') ;
    background-repeat: no-repeat;
    height: 50vh;
    background-position: 20%;
    object-fit: cover;
    align-content: center;
    padding: 0 5%;
    color: white;
    transform: scaleX(-1);}
    
    .Ban_ab{
        transform: scaleX(-1);
    font-size: 80px;}
    
    .Ban_p{transform: scaleX(-1);
    font-size: 30px;}
    

/* CTA */

.COntact_Us01{justify-content: center;}

.bg_text_CTA{ text-align: left;
    font-size: 10rem;
    letter-spacing: 0px;
    color: white;
    background-color: white;
    opacity: 100%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #d3dbdd;
    z-index:-1;
    height: 18vh;
}

.Sub_Contacts{justify-content: space-between;
    text-align: center;
    padding: 2vh 10vw;}


.div_icon{height: 7.5vh;}

.Location , .Phone , .Email {width: 20vw;}

/* Form */

.QUESTION{text-align: center;}

.upper_form{justify-content: space-between;
    height: 40vh;
    padding: 5% 0;
    width: 100%;
}

.form {
height: 50vh;
background-color: #F4FCFF;;
padding: 5vh 10vw;
}

input{
    padding: 10px 10px;
    
}
input::placeholder{
    text-align: left;
}
textarea{
   margin: 30px 30px;
}
#subject{
    width: 10vw;
}
input{
    margin: 0 30px;
}
#submit_bttn{
    background-color: #08394A;
    padding: 13px 50px;
    color: white;
    border-radius: 5px;
    margin: 0 46%;
}

#submit_bttn:hover{border: 2px solid #08394A;
background-color: white;
color: #08394A;}


.form_content{justify-content: space-between;
padding:0 3%;}

.upper_form{justify-content: space-between;}


#name , #phone , #email {width: 29%;}
#subject{width: 95.5%;
padding: 2% 0;}



/* Maps */
.map{height: 60vh;
    width: 100%;
}

.map iframe{height: 60vh;
    width: 100%;
}

/* Footer */

.footer{height:30vh;
    background-color: #08394A;
    color: white;
    align-items: center;
    align-content: center;align-self: center;
    text-align: left;
    padding: 0vh 10vw;
    }

    .Logo , .Quick , .Contcat {height: 50%;}
    .quick_conteiner{justify-content:left;
    width: 50%}
    
    .Logo {width: 40%;}
    .Quick , .Contact {width: 25%;margin: 7%;}
    .Q_2 {padding: 0 10%;}
    
 /* after footer */
    
 .afterfooter{background-color: #08394A;
    color: white;
    padding: 5vh 10vw;
    height: 5vh;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    }
    
    
    .afterfoot3 {width: 15%;
        justify-content: right;}
    
    .afterfoot2{width: 60%;}
    
    .afterfoot1{width: 20%;
        justify-content: space-between;
    }
    
    .footer{background-color: #08394A;}
    
    .copyright{padding: 0 10vw;}
    
    .copy_1{width: 40%;}
    .copy_2{width: 30%;}
    .copy_3{width: 30%;
    justify-content: space-between;}
    
    
    
    
    







    
    
    
    








